
/* table td{
  font-family: "Noto Naskh Arabic";
  font-weight: bold;
  font-size: 25px;
} */
/* .explain {
  border: 2px solid black;
} */
body{
margin:0;
/* padding:20px; */
}

*{
box-sizing: border-box;
}

.table{
width: 100%;
border-collapse: collapse;
border-radius: 8px;
margin-top: 20px;
}
/* .table tr{
border: 4px solid rgb(79, 75, 75);
border-radius: 8px;
}
.table tbody tr{
background-color: rgba(244, 242, 234, 0.4);
} */

.table td,.table th{
padding:12px 15px;
border:1px solid rgb(79, 75, 75);
text-align: top;
font-weight: bold;
font-size: 12px;

}

/* .table th{
background-color: rgba(99, 99, 194, 0.656);
color:#ffffff;
} */

/* .table tbody tr:nth-child(even){
background-color: #f5f5f5;
} */

/*responsive*/

@media(max-width: 500px){
.table thead{
  display: none;
}

.table, .table tbody, .table tr, .table td{
  display: block;
  width: 100%;
}
/* .table tr{
  margin-bottom:15px;
} */
.table td{
  text-align: right;
  padding-left: 20%;
  text-align: top;
  position: relative;
}
.table td::before{
  content: attr(data-label);
  position: absolute;
  left:0;
  width: 15%;
  padding-left:5px;
  font-size:12px;
  font-weight: bold;
  text-align: left;
}
}
